mock
cloudshell-shell-core>=5.0.3,<6.0.0
cloudshell-automation-api
pandas
plotly
numpy==1.16.6
cryptography
paramiko
bokeh
streamlit==0.62.0
cython
pyarrow==4.0.0
websocket-client
xlsxwriter
pyshark
influxdb
influxdb-client
matplotlib
pdfkit
pip-search
pyserial
pexpect-serial
scp
dash
kaleido
